{% extends 'base.html' %}
{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>
    <label for="profile-choice">Select a Profile:</label>
    <input list="profile-selection" id="profile-choice" name="profile-choice" />

    <datalist id="profile-selection">
        {% for profile in profiles %}
        <option value='{{ profile }}'>
        {% endfor %}
    </datalist>

    </p>

    <p>{{ form.submit(value='Search For Profile') }}</p>
</form>
{% endblock %}