{% extends 'base.html' %}      

{% block content %}
    <h1>Hi {{ current_user.username }}</h1>
    <a href='{{ url_for("auth.logout" )}}'>logout</a>
    <!--<a href='{{ url_for("auth.delete_account" )}}'>delete account</a>-->

    <p>
        <table>
            <thead>
                <!--header row spans multiple columns-->
                <tr>
                    <th colspan='3'>Profiles</th>
                    <th colspan='4'>Orders</th>
                </tr>
                
                <!--subheaders, 3 for profiles and 4 for orders matching the above-->
                <tr>
                    <th> ID </th>
                    <th> username </th>
                    <th> email </th>

                    <th> ID </th>
                    <th> name </th>
                    <th> price </th>
                    <th> total </th>
                </tr>
            </thead>

            <!-- for loop filling table with values from both Order and Profile lists at the same time-->
            <!--users the longest list to make sure all values are filled-->
            <tbody>
                {% for i in range(longest)  %}
                <tr>
                    <!--stops when at the end of the list-->
                    {% if i <= l_profiles - 1 %}
                        <td> {{ profiles[i].id }} </td>
                        <td> {{ profiles[i].username }} </td>
                        <td> {{ profiles[i].email }} </td>
                    {% else %} 
                    <!--otherwise prints empty entry-->
                        <td colspan='3'></td>
                    {% endif %}

                    {% if i <= l_orders - 1 %}
                        <td> {{ orders[i].id }} </td>
                        <td> {{ orders[i].name }} </td>
                        <td> {{ orders[i].price }} </td>
                        <!--calculates order total if it customers have actually ordered it; total ordered * price-->
                        {% if orders[i].total_orders() != None %}
                        <td> {{ round( orders[i].total_orders() * orders[i].price, 2) }} </td>
                        {% endif %}
                    {% else %} 
                        <td colspan='3'></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>

    <!--loops through page numbers in pagination pages-->
    <p>
        {% for page_num in pagination.iter_pages() %}
            {% if page_num %}
                <!--other pages to navigate to-->
                {% if page_num != pagination.page %}
                    <a href='{{ url_for("auth.homepage", page=page_num) }}'> {{ page_num }} </a>
                {% else %}
                    <!--current page is greyed out (cannot click)-->
                    {{ page_num }}
                {% endif %}
            {% else %} 
                ...
            {% endif %}
        {% endfor %}
    </p>
    

{% endblock %}