{% extends 'base.html' %}      

{% block content %}
    <h1>Hi {{ current_user.username }}</h1>
    <a href='{{ url_for("auth.logout" )}}'>logout</a>
    <a href='{{ url_for("auth.delete_account" )}}'>delete account</a>

    <p>
        <table>
            <thead>
                <tr>
                    <th colspan='3'>Profiles</th>
                    <th colspan='3'>Orders</th>
                </tr>
                
                <tr>
                    <th> ID </th>
                    <th> username </th>
                    <th> email </th>

                    <th> ID </th>
                    <th> name </th>
                    <th> price </th>
                </tr>
            </thead>

            <tbody>
                {% for i in range(longest)  %}
                <tr>
                    {% if i <= l_profiles - 1 %}
                        <td> {{ profiles[i].id }} </td>
                        <td> {{ profiles[i].username }} </td>
                        <td> {{ profiles[i].email }} </td>
                    {% else %} 
                        <td colspan='3'> NULL </td>
                    {% endif %}

                    {% if i <= l_orders - 1 %}
                        <td> {{ orders[i].id }} </td>
                        <td> {{ orders[i].name }} </td>
                        <td> {{ orders[i].price }} </td>
                    {% else %} 
                        <td colspan='3'> NULL </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>

    <p>
        {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if page_num != pagination.page %}
                    <a href='{{ url_for("auth.homepage", page=page_num) }}'> {{ page_num }} </a>
                {% else %}
                    {{ page_num }}
                {% endif %}
            {% else %} 
                ...
            {% endif %}
        {% endfor %}
    </p>
    

{% endblock %}