<!DOCTYPE html>
<html>
    <header>
        {% if title %}
        <h1>{{ title }}</h1>
        {% else %}
        <h1>Customer Database</h1>
        {% endif %}

        <a href='{{ url_for("auth.homepage" )}}'>Home</a>
        <p> 
            <a href='{{ url_for("orders.add_order" )}}'>Create order</a>
            <a href='{{ url_for("profiles.create_profile" )}}'>Create Profile</a>
        </p>

        <p>
            <a href='{{ url_for("orders.search_order" )}}'>Search For order</a>
            <a href='{{ url_for("profiles.search_profile" )}}'>Search For Profile</a>
        </p>

    </header>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {%block content%}
        {%endblock%}
    </body>
</html>