{% extends 'base.html' %}
{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <a href='{{ url_for("deleteorder", name=name) }}'>Delete order</a>
    <p>
        {{ form.newname.label }}<br>
        {{ form.newname(size=32) }}
        {% for error in form.newname.errors %}
        {{ error }}
        {% endfor %}
    </p>

    <p>
        {{ form.cost.label }}<br>
        {{ form.cost(size=32) }}
        {% for error in form.cost.errors %}
        {{ error }}
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}