{% extends 'base.html' %}
{% block content %}
<p>
    <form action="{{ url_for('delete_order', name=name) }}" method="post">
        {{ delete_form.hidden_tag() }}
        {{ delete_form.submit(value='Delete Order')}}
    </form>
</p>


<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.newname.label }}<br>
        {{ form.newname(size=32) }}
        {% for error in form.newname.errors %}
        {{ error }}
        {% endfor %}
    </p>

    <p>
        {{ form.cost.label }}<br>
        {{ form.cost(size=32) }}
        {% for error in form.cost.errors %}
        {{ error }}
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}